Cargo.lock
target/
data/phoneme_*.fst
data/wiktionary_pronunciation_*.txt 
data/empty_dictionary.txt
data/manually_tagged_dictionary_*.txt
data/gutenberg_sentences.txt
data/enwiki-latest-abstract*
data/wiktionary_sentences_en.txt.txt
data/enwiktionary-latest-abstract.xml.gz
data/wiktionary_en.txt
